/* 全局樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6e8e9;
    color: #4a4e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

/* 註冊與登入容器樣式 */
.auth-container {
    background: #fdfdfd;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 100px auto;
}

/* 表單元素樣式 */
.auth-container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #cdd7db;
    background-color: #e8ebec;
    color: #4a4e50;
    font-size: 1em;
}

.auth-container button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #8fa7b3;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-container button:hover {
    background-color: #738f9a;
}

